<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleRead.css">
    <title>Document</title>
</head>
<body>
    <form action="/change" method="POST" class="form">
        <div class="id dataName">
            <label>Id</label>
            <input type="text" name="id" class="name id" id="id" value="<%= data[0]._id%>" disabled="disabled">
        </div>
        <div class="dataName">
            <label>Имя</label>
            <input type="text" name="name" class="name" id="name" value="<%= data[0].name%>">
        </div>
        <div class="dataFamily">
            <label>Фамилия</label>
            <input type="text" name="family" class="family" id="family" value="<%= data[0].family%>">
        </div>
        <div class="dataPatronymic">
            <label>Отчество</label>
            <input type="text" name="patronymic" class="patronymic" id="patronymic" value="<%= data[0].patronymic%>">
        </div>
        <div class="dataBirth">
            <label>Дата рождения</label>
            <input type="date" name="birth" class="birth" id="birth" value="<%= data[0].birth%>">
        </div>
        <div class="dataPosition">
            <label>Должность</label>
            <input type="text" name="position" class="position" id="position" value="<%= data[0].position%>">
        </div>
        <div class="dataExperience">
            <label>Стаж</label>
            <input type="text" name="experience" class="experience" id="experience" value="<%= data[0].experience%>">
        </div>
        <input type="submit" class="button" name="button" value="Продолжить">
    </form>
</body>
</html>