<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleWrite.css">
    <title>Document</title>
</head>
<body>
    <table class="tableData" id="tableData">
        <thead>
            <tr>
                <td>id</td>
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Отчество</td>
                <td>Дата рождения</td>
                <td>Должность</td>
                <td>Стаж</td>
                <td></td>
            </tr>
        </thead>
        <% for(var i = 0; i< result.length; i++){ %>
            <tr>
                <td><%= result[i]._id%></td>
                <td><%= result[i].name%></td>
                <td><%= result[i].family%></td>
                <td><%= result[i].patronymic%></td>
                <td><%= result[i].birth%></td>
                <td><%= result[i].position%></td>
                <td><%= result[i].experience%></td>
                <td class="buttons">
                    <input type="button" value="Удалить" id="delete<%= i+1%>" class="writeData">
                    <input type="button" value="Изменить" id="change<%= i+1%>" class="writeData">
                </td>
            </tr>
        <% } %>
        <script>
            var numbers = "<%= result.length%>"
            var a = "<%= result[0].name%>"
            console.log(a)
            /*for (let i = 0; i < result.length; i++) {
                console.log("<%= result[1].name%>")
            }*/
            
        </script>
    <script src="js/buttons.js"></script>
</body>
</html>